/* Reset default styles */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  td {
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
  